@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
html {}

body {
    font-family: 'Coming Soon', cursive;
    font-weight: bolder;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    border: solid thick #000000;
    padding: 20px;
    box-sizing: border-box;
}

.wrapper > h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    text-shadow: 3px 3px rgb(244, 119, 161);
}

.left,
.right {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
}

.radio-group {
    text-align: center;
    list-style: none;
    line-height: 3.5rem;
}

#box1,
#box2,
#box3,
#box4,
#box5 {
margin-left: 15px;
}

.right p {
    font-size: 0.5em;
    font-style: italic;
    text-align: center;
    color: #000000;
}

.right img {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.button-group {
    width: 320px;
    margin: 50px auto 0 auto;
    font-size: 13px;
}

.button-group h1 {
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.button-group button {
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    font-variant: small-caps;
    background-color: #f375a0;
    text-shadow: 1px 1px 1px #000;
    color: white;
    border-radius: 3em;
    width: 13em;
    height: 3em;
    font-weight: bolder;
    padding-bottom: 3px;
}

.userCreation {
    text-align: center;
    line-height: 2rem;
}

.userCreation li {
}
.customCreation{
    line-height: 2rem;
}
.customCreation span {
    margin-left: 15px;
    font-size: 1.1rem;
    font-variant: small-caps;
    font-weight: bolder;
}
